<p>
    <a class="btn btn-outline-success" role="button" routerLink="/add">
        Добавить задачу
    </a>
</p>


<!-- <div class="collapse" id="collapseExample">
    <form class="card card-body" [formGroup]="newTaskForm" (ngSubmit)="addNewTask()">
        Новая Задача
      <label for="">Заголовок</label>
      <input type="text" formControlName="title" class="form-control" />
      <label for="description">Описание</label>
      <input type="text" formControlName="description" class="form-control" />

      <button class="btn btn-outline-primary" type="submit">Подтвердить</button>
    </form>
</div> -->