<p>
    <a class="btn btn-outline-success" role="button" routerLink="/add">
        Добавить задачу
    </a>
</p>

<div class="row">
    <div class="example-container col-sm">
        <h2>To do</h2>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, inProgressList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of todo" cdkDrag>
            {{item.title}}
            <button class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="openDialog(item.id, 'todo')"></button>
          </div>
        </div>
    </div>
    
    <div class="example-container col-sm">
        <h2>In Progress</h2>
      
        <div
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
            {{item.title}}
            <button class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="openDialog(item.id, 'todo')"></button>
          </div>
        </div>
    </div>
    
      
    <div class="example-container col-sm">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{item.title}}
            <button class="btn btn-danger btn-sm" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="openDialog(item.id, 'todo')"></button>
          </div>
        </div>
    </div>
    
</div>



<!-- <div class="collapse" id="collapseExample">
    <form class="card card-body" [formGroup]="newTaskForm" (ngSubmit)="addNewTask()">
        Новая Задача
      <label for="">Заголовок</label>
      <input type="text" formControlName="title" class="form-control" />
      <label for="description">Описание</label>
      <input type="text" formControlName="description" class="form-control" />

      <button class="btn btn-outline-primary" type="submit">Подтвердить</button>
    </form>
</div> -->